@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofadi+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}


/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    overflow-x: hidden;
    background: #1b0100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: fit-content;
}

nav .nav-logo {
    color: #feda8d;
}

nav .nav-link {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .nav-link a {
    text-decoration: none;
    color: #feda8d;
    font-size: 0.8rem;
    font-weight: 600;
}

nav .nav-link a button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    background: #feda8d;
    color: #6d0200;
    cursor: pointer;
}

/* header end */





/* state */

.state {
    width: 100%;
    height: 10vh;
    background-color: #eaeaea;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 85%;
}

.state-con select {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #1b0100;
}


/* state end */






/* links */

.links {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.links-con {
    width: 70%;
    display: flex;
    gap: 20px;
}

.links-con a {
    text-decoration: none;
    color: #999999;
    font-weight: 500;
    transition: 0.20s ease all;
}

.links-con a:hover {
    color: #00838f;
}

/* links end */









/* girls */

.girls {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.girls-con {
    width: 70%;
    height: fit-content;
    padding: 20px 0px;
}

.girl-details {
    width: 100%;
    height: 200px;
    background: #fffdea;
    display: flex;
    border: 2px solid #feda8d;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.girl-img {
    width: 15%;
    height: 100%;
    border-right: 2px solid #feda8d;
}

.girl-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.girl-information {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
}

.girl-information p {
    font-size: 0.9rem;
}

.girl-information span {
    font-size: 0.8rem;
    font-weight: 700;
    color: #999999;
}

.girl-number {
    width: 15%;
    height: 100%;
    border-left: 2px solid #feda8d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.girl-number a {
    text-decoration: none;
}

.girl-number a button {
    width: 150px;
    height: 40px;
    border: none;
    background: #f0eedc;
    border-radius: 10px;
    transition: 0.20s ease all;
    cursor: pointer;
}

.girl-number a:hover button {
    background: #00838f;
    color: #ffffff;
}

/* girl end */


/* para  */
.para {
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background: #eaeaea;
}

.para-con {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.para-box p {
    font-size: 0.9rem;
}

/* para end */





/* footer */

footer {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    margin-top: 50px;
    border-top: 2px solid #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.footer-con {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.footer-con ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.footer-con ul li {
    color: #ca9c9a;
    font-size: 0.9rem;
    transition: 0.20s ease all;
}

.footer-con ul li:hover {
    color: #00838f;
}

.footer-con a {
    text-decoration: none;
}

.copyright {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background: #1b0100;
    color: #feda8d;
}

/* footer end */





/* click-top */

.click-top {
    width: 55px;
    height: 55px;
    border: 2PX solid #feda8d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 20PX;
    transition: 0.20s ease all;
}

.click-top:hover {
    border-color: #ffffff;
}

.click-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    text-decoration: none;
    font-size: 1rem;
    color: #1b0100;
    background: #feda8d;
    border-radius: 50%;
    transition: 0.2S ease all;
}

.click-top:hover a {
    width: 100%;
    height: 100%;
}

/* click-top end */






/* front-img */
.front-img {
    width: 100%;
    height: 70vh;
    background: url(Scr/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* front-img end */





/* girl-hire */

.girl-hire {
    width: 100%;
    height: 52vh;
    background: #1b0100;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-con {
    width: 90%;
    height: 95%;
    display: flex;
}

.hire-img {
    height: 100%;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.hire-img img {
    height: 100%;
    width: 100%;
}

.hire-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding-left: 20px;
}

.hire-content h1 {
    color: #fde38c;
}

.hire-content p {
    color: #ca9c9a;
    font-size: 0.8rem;
}

.hire-content a {
    text-decoration: none;
}

.hire-content a button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 0.7rem;
    font-weight: 600;
    background: #01a124;
    color: #ffffff;
    cursor: pointer;
}

.hire-content a button i {
    font-size: 1.2rem;
}

/* girl-hire end */








/* girl-profile */

.girl-profile {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    background: #6d0200;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.profile-con {
    width: 90%;
    height: fit-content;
}

.profile-h {
    width: 100%;
    color: #fde38c;
}

.profie-imgs {
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.profile-box {
    width: 320px;
    height: 400px;
    background-color: #1b0100;
    border: 1px solid #feda8d;
}

.profile-box img {
    width: 100%;
    height: 90%;
}

.profile-name {
    width: 100%;
    color: #fde38c;
    text-align: center;
}

/* girl-profile  end */






/* dream */

.dream {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    background: #6d0200;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.dream-con {
    width: 90%;
    height: fit-content;
}

.dream-h {
    text-align: center;
    color: #feda8d;
    margin-bottom: 20px;
}

.dream-p {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.dream-p p {
    width: 45%;
    color: #ca9c9a;
    font-size: 0.9rem;
}

/* dream end */








/* chat details */

.chat {
    width: 100%;
    height: 80vh;
    background: url(https://www.trishalareddy.com/images/cat-bg-escorts.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-con {
    width: 90%;
    height: fit-content;
    display: flex;
    gap: 25px;
}

.chat-box {
    width: 280px;
    height: 300px;
    color: #1b0100;
    background: url(https://www.trishalareddy.com/images/cat-bg.webp);
    background-size: (cover);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* chat details end */







/* meet */

.meet {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    background: #6d0200;
    display: flex;
    justify-content: center;
}

.meet-con {
    width: 90%;
    height: fit-content;
}

.meet-h {
    text-align: center;
    color: #feda8d;
    margin-bottom: 20px;
}

.meet-p {
    width: 100%;
    height: fit-content;
    display: flex;
}

.p-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ca9c9a;
    font-size: 0.9rem;
}

/* meet end */




/* enjoy */

.enjoy {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    background: #6d0200;
    padding-top: 50px;
    overflow-x: hidden;
}

.enjoy-con {
    width: 90%;
    height: fit-content;
}

.enjoy-h {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 30px;
    color: #feda8d;
}

.enjoy-p {
    width: 100%;
    height: fit-content;
    color: #ca9c9a;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.9rem;
}

.enjoy-p span {
    font-weight: 600;
}

/* enjoy end */







/* girl-1 */

.girl-1 {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background: #6d0200;
}

.girl-1-con {
    width: 90%;
    height: 100%;
}

.girl-1-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* girl-1 end */





/* vip */
.vip {
    width: 100%;
    height: 60vh;
    padding-top: 50px;
    background: #6d0200;
}

.vip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* vip end */





/* bottom numbers */

.bottom-num {
    width: 100%;
    height: 5vh;
    background-color: red;
    display: flex;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
}

.bottom-num a {
    width: 50%;
    height: 100%;
    background-color: darkgoldenrod;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #f0eedc;
}

.num-b {
    border-right: 2px solid #1b0100;
    background-color: darkblue !important;
}



.nav-click {
    display: none;
}


.p-bold {
    font-size: 1rem;
    color: #feda8d;
    font-weight: 500;
}

.girl-details .girl-number a button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.girl-details .girl-number a button i {
    font-size: 1.1rem;
}



/* girl page */

.girl-p {
    width: 100%;
    height: 50vh;
    background: url(https://hothubby.co.in/wp-content/uploads/2022/03/Delhi-local-Escorts-service.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}

.girl-p a {
    text-decoration: none;
    margin-bottom: 60px;
}

.girl-p a button {
    width: 220px;
    height: 55px;
    border: none;
    font-size: 1rem;
    background: #01a124;
    border-radius: 10px;
    transition: 0.20s ease all;
    cursor: pointer;
    color: #ffffff;
}

.girl-p a button:hover {
    background-color: #feda8d;
    color: #1b0100;
}

.girl-p a button i {
    font-size: 1.2rem;
}


/* girl-imformation */
.girl-imformation {
    background-color: #ffffff;
}

.girl-imformation p {
    color: #333333;
    font-size: .0.9rem;
}

/* girl-imformation end */






/* girl-rating */

.girl-rating {
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    overflow-x: hidden;
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.rating-container{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rating-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

.rating-box{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    outline: 3px solid #feda8d;
}

.rating-box img{
    width: 100%;
    height: 65%;
}

.rating-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.rating-icon i{
    font-size: 1.2rem;
    color: #feda8d;
}

/* girl-rating */



.location-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}